*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-persona{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 90%;
    margin:20vh  auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.body-persona .caja{
    background: rgb(59, 50, 61);
    width: 90%;
    margin: auto;
    color: #fff;
    border-radius: 20px;
    display: block;
}
.body-persona .caja h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 25px;
}

.body-persona .caja form {
    width: 90%;
margin: auto;

}
.body-persona .caja form div {
width: 90%;
margin: 10px auto;
}

.body-persona .caja form div input {
    width: 90%;
    margin: 5px auto;
    background: transparent;
    border: none;
    border-bottom: 2px solid crimson;
    outline: none;
    height: 25px;
    color: #fff;

}

.body-persona .caja form .boton{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.body-persona .caja form .boton button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: all .3s ease-in-out;
}
.body-persona .caja form .boton button:hover{
    background: crimson;
    color:#fff;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
   /*  background: #222; */
    border-radius: 20px;
}
.content table thead{
    background: rgb(59, 50, 61);
    color: #fff;
}


